{% extends '@layout/default.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    {% if flash %}
        <div class="alert alert-success">{{ flash }}</div>
    {% endif %}
    <h1>Наши задачи</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-heading bg-secondary text-white text-center">TODO</div>
                <div class="card-body">
                    <ul>
                        {% for todo in todoTasks %}
                            <li>{{ todo.title }}</li>
                            <li>{{ todo.description }}</li>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-heading bg-secondary text-white text-center">DOING</div>
                <div class="card-body">
                    <ul>
                        {% for doing in doingTasks %}
                            <li>{{ doing.title }}</li>
                            <li>{{ doing.description }}</li>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-heading bg-secondary text-white text-center">DONE</div>
                <div class="card-body">
                    <ul>
                        {% for done in doneTasks %}
                            <li>{{ done.title }}</li>
                            <li>{{ done.description }}</li>
                            <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button id="button-show" class="btn btn-primary" style="margin: 1em">Создать задачу?</button>
    <div class="alert alert-danger">Все поля должны быть заполнены и статус должен быть выбран!</div>
    <div class="row">
        <div class="col-4" id="form-container">
            <form action=""
                  method="{{ form.attributes.method }}"
                  name="{{ form.attributes.name }}"
                  style="display: grid; row-gap: 0.5em"
            >
                <input type="{{ form.elements.csrf.attributes.type }}"
                       name="{{ form.elements.csrf.attributes.name }}"
                       value="{{ form.elements.csrf.csrfValidator.hash }}"
                >

                <span>Заголовок задачи</span>
                <input type="{{ form.elements.title.attributes.type }}"
                       name="{{ form.elements.title.attributes.name }}"
                        {{ form.elements.title.options.required ? 'required' : null}}
                >

                <span>Описание</span>
                <textarea name="{{ form.elements.description.attributes.name }}"
                          cols="30"
                          rows="10"
                          {{ form.elements.description.options.required ? 'required' : null}}
                ></textarea>

                <div>
                    {% for value, status in form.elements.status.valueOptions %}
                        {{ status }}
                        <input type="{{ form.elements.status.attributes.type }}"
                               name="{{ form.elements.status.attributes.name }}"
                               value="{{ value }}"
                        >
                    {% endfor %}
                </div>
            </form>
            <button id="btn-create" class="btn btn-success">Создать</button>
        </div>
    </div>

{% endblock %}
